.container1{
    display: flex;
    max-width: 1300px;
    margin: auto;
    
}
.container2 div{
    justify-content: space-between;
    display: flex;
    
}
.container2 div img{
    max-width: 500px;
    max-height: 500px;
    margin: 30px;
    border: solid aliceblue;
}
 .container2 div p{
     color: aliceblue;
     justify-content: center;
     align-items: center;
     display: flex;
     margin: 10px;
 }
 @media (max-width:900px) {
    .container2{
        display: flex;
        flex-wrap: wrap;


    }
}
