.contactUs{
    color: aliceblue;
    width: 100%;
    padding: auto;
    
    
}
.contactUs1{
    max-width: 700px;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 100px;
    padding: auto;
}
